<!doctype html>
<html lang="en">
	<head>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="exercise">
		   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
		    <p>VueJS is pretty cool - {{name}} ({{age}})</p>
		    <!-- 2) Output your age, multiplied by 3 -->
		    <p>{{age * 3}}</p>
		    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
		    <p>{{random()}}</p>
		    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
		    <div>
		        <img v-bind:src = "image_link" style="width:100px;height:100px">
		    </div>
		    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
		    <div>
		        <input type="text" v-bind:value="name" v-once>
		    </div>
		</div>
		<script type="text/javascript">
			new Vue({
				el: '#exercise',
				data: {
					name: 'Ben',
					age: '24',
					image_link : 'https://vuejs.org/images/logo.png'
				},
				methods: {
					random: function() {
						return Math.random()
					}
				}
			});
		</script>
	</body>
</html>